@model IEnumerable<QLPKDKTN.Models.Thuoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Benh.TenBenh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenThuoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhaCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTaTP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Benh.TenBenh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenThuoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhaCC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTaTP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
